<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>

<body>
    <a href="/"> Back to Home </a>
    {% for movie in all_movies %}
    <p>Title:{{ movie.title }}</p>
    <p>Year:{{ movie.year }}</p>
    <p>Plot:{{ movie.plot }}</p>
    <p>Stars:{{ movie.stars }}</p>
    <p>Directors:{{ movie.directors }}</p>
    <p>Awards:{{ movie.awards }}</p>
    <img src="{{movie.image}}" alt="">
    <form action="/delete_movie/{{ movie.id }}" method="POST">
        <button type="submit">Delete</button>
    </form>
    {% endfor %}
    

</body>

</html>